%h1 Grids controller, new action

%p 
  Edit this file in 
  %tt app/views/grids/new.html.erb

= error_messages_for :grid

= form_for(@grid, :action => url(:grids) ) do
  %p
    = text_field :title, :label => "Title"
    = text_field :folder, :label => "Photo folder"
    = text_field :total, :label => "Number of photos"
    = submit "Create"

= link_to 'Back', url(:grids)